Repository microsoft/vs-threading, pull requests merged in 2022-05, with the labels that each got.

#1026 Expose a property on whether JoinableTaskContext has any JTF blocking calls on the main thread
  src/Microsoft.VisualStudio.Threading/JoinableTaskContext.cs
  src/Microsoft.VisualStudio.Threading/JoinableTaskFactory.cs
  src/Microsoft.VisualStudio.Threading/net472/PublicAPI.Shipped.txt
  src/Microsoft.VisualStudio.Threading/net5.0-windows/PublicAPI.Shipped.txt
  src/Microsoft.VisualStudio.Threading/net5.0/PublicAPI.Shipped.txt
  src/Microsoft.VisualStudio.Threading/netcoreapp3.1/PublicAPI.Shipped.txt
  src/Microsoft.VisualStudio.Threading/netstandard2.0/PublicAPI.Shipped.txt
  test/Microsoft.VisualStudio.Threading.Tests/JoinableTaskContextTests.cs
Labels: enhancement

#1034 Retarget net5.0 to net6.0
  Microsoft.VisualStudio.Threading.sln
  src/Microsoft.VisualStudio.Threading/AwaitExtensions.cs
  src/Microsoft.VisualStudio.Threading/LightUps.cs
  src/Microsoft.VisualStudio.Threading/Microsoft.VisualStudio.Threading.csproj
  src/Microsoft.VisualStudio.Threading/net6.0-windows/PublicAPI.Shipped.txt
  src/Microsoft.VisualStudio.Threading/net6.0-windows/PublicAPI.Unshipped.txt
  src/Microsoft.VisualStudio.Threading/net6.0/PublicAPI.Shipped.txt
  src/Microsoft.VisualStudio.Threading/net6.0/PublicAPI.Unshipped.txt
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/Helpers/ReferencesHelper.cs
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/Microsoft.VisualStudio.Threading.Analyzers.Tests.csproj
  test/Microsoft.VisualStudio.Threading.Tests/AwaitExtensionsTests.cs
  test/Microsoft.VisualStudio.Threading.Tests/Microsoft.VisualStudio.Threading.Tests.csproj
Labels: analyzers

#1040 Disable a few tests that fail repeatedly in Azure Pipelines
  test/Microsoft.VisualStudio.Threading.Tests/JoinableTaskTests.cs
Labels: test bug

#1042 Fix IsMainThreadMaybeBlocked to return false value after the main task completed
  src/Microsoft.VisualStudio.Threading/JoinableTaskContext.cs
  test/Microsoft.VisualStudio.Threading.Tests/JoinableTaskContextTests.cs
Labels: bug
